################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/.github/CopilotIndices/17.14.1686.8233
/.vs
